<div class="bg-white">
  <div class="banner-header mx-auto">
    <div class="relative subsite-banner{{ call_to_action ? ' subsite-banner--overview' }}">
      <div class="subsite-banner__image">
      {{ content }}
      </div>
    </div>
  </div>
</div>

