/**
 * @file
 * Basic styling for Accordion paragraph.
 */

.accordion-pane__title button {
  width: 100%;
  text-align: left;
}

.accordion--initialised .accordion-pane__content {
  display: none;
}

.accordion--initialised .accordion-pane__content--open {
  display: block;
}
