<section class="campaign-banner-wrapper">
  <div class="campaign-banner blend-darken hero--tint" style="background-image: url('{{ file_url(image) }}')">
    <div class="wrapper">
      <div class="campaign-banner--inner">
        <div class="campaign-banner--tag">{{ tag }}</div>
          <h1>{{ heading }}</h1>
        </div>
      <div class="campaign-banner--overlay"></div>
    </div>
  </div>
</section>
