<section class="hero-wrapper">
  <div class="hero blend-darken hero--tint" style="background-image: url('{{ file_url(image) }}')">
    <div class="wrapper">
      <div class="hero-inner"><div class="hero-heading"><h1>{{ heading }}</h1></div></div>
      <div class="hero--overlay"></div>
    </div>
  </div>

  <div class="wrapper"><div class="hero-border"></div></div>
</section>
